<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Start</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

</head>


<body class="bg-body-tertiary">

<div th:insert="/userInterface/blocks/header.html :: header"></div>

<div class="container">
    <main>
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72"
                 height="57">
            <h2>Hi, where would you like to go?</h2>
        </div>
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Billing address</h4>
            <form class="needs-validation" novalidate="" action="#" th:action="@{/show-flights}" method="post">
                <div class="row g-3">

                    <div class="col-md-5">
                        <label for="from" class="form-label">From</label>
                        <select class="form-select" id="from" required="">
                            <option value="">Choose...</option>
                            <option>United States</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="to" class="form-label">To</label>
                        <select class="form-select" id="to" required="">
                            <option value="">Choose...</option>
                            <option>California</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="date" class="form-label">Depart Date</label>

                        <input type="date" class="form-control" id="date" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            Valid date is required.
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <label for="date" class="form-label">Return data</label>
                        <input type="date" class="form-control" id="date" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            Valid date is required.
                        </div>
                    </div>


                    <div class="form-row last">
                        <div class="form-wrapper">
                            <label for="">Adults *</label>
                            <select name="" id="" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                            <i class="zmdi zmdi-chevron-down"></i>
                        </div>
                        <div class="form-wrapper">
                            <label for="">Chidren *</label>
                            <select name=""  class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                            <i class="zmdi zmdi-chevron-down"></i>
                        </div>
                    </div>

                </div>
                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg" type="submit">Search flights</button>
            </form>
        </div>
    </main>

    <div th:insert="/userInterface/blocks/footer.html :: footer"></div>


</div>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<script src="checkout.js"></script>

</body>
</html>