<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SkyFly</title>
</head>
<body>
<h1><strong> SkyFly</strong> </h1>
<form name="test" method="post" action="add-user.html">
    <p><b> Name: </b><br>
    <input type="text" size="40">
    </p>
    <p><b> Vorname: </b><br>
        <input type="text" size="40">
    </p>
    <p><input type="submit" value="Senden">
    </p>
    <p>Email: <input type="email" name="login">
    </p>
    <label for="name">Name</label>

    <form action="#" th:action="@{/add-user}" th:object="${user}" method="post">
    <input type="text" th:field="*{userName}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{userName}"></span>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <input type="submit" value="Add User">
</form>
</form>
</body>
</html>


